.piece {
    position: absolute;
    height: 1em;
}

.pieceInner {
    width: 100%;
    height: 100%;
    background-color: silver;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: content-box;
}
